<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-primary border-bottom shadow-sm">
    <h1 class="my-0 mr-md-auto font-weight-normal"><app-header></app-header></h1>
    <nav class="my-2 my-md-0 mr-md-3">
      
      <a class="p-2 text-dark" [routerLink]="['/shop']">Shop</a>
      <a class="p-2 text-dark" href="#">Wishlist</a>
      <a class="p-2 text-dark" [routerLink]="['/cart']">Cart</a>
      <a class="p-2 text-dark" href="#">Orders</a>
    </nav>
    <a class="btn btn-secondary" [routerLink]="['/register']">Sign Up</a>
    <a class="ml-2 btn btn-warning" [routerLink]="['/login']">Login</a>
  </div>